* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

article {
  margin: 2rem 0;
}
.about-section {
  background-color: rgb(165, 165, 165);
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.section-div {
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.avatar {
  border-radius: 30px;
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
}

.about-div {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.about-right-col {
  margin-left: 10%;
}

.about-education-div {
  display: flex;
  flex-direction: row;
}

.about-education-right-col {
  margin-left: 10%;
}

.sfsu-header {
  display: flex;
  align-items: center;
}

.sfsu-logo {
  margin-top: 1rem;
  margin-right: 1rem;
  height: 5rem;
}

.sfsu-div {
  margin-top: 1rem;
}

.coursework {
  columns: 20rem 2;
  list-style-type: circle;
}

#college-name {
  color: black;
}

#college-text {
  color: black;
  font-size: 1.25rem;
}

.about-right-col h1,
.about-skills-div h1,
.about-education-div > h1 {
  font-size: 2rem;
  font-weight: normal;
  color: white;
}

.about-right-col p {
  line-height: 1.5rem;
  color: black;
  padding: 0 0 0.5rem;
}

.about-skills-div {
  display: flex;
  flex-direction: column;
}

.about-skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.download-button {
  text-decoration: none;
  color: white;
  background-color: rgb(105, 105, 105);
  padding: 0.75rem;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
}

.download-button:hover {
  background-color: rgb(43, 122, 215);
  box-shadow: 0px 0px 10px rgb(43, 122, 215);
}

@media only screen and (max-width: 1024px) {
  .about-section {
    padding-left: 10%;
    padding-right: 10%;
  }
  .avatar {
    width: 7rem;
    height: 7rem;
  }
  .about-skills-div,
  .about-education-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .avatar {
    display: none;
  }
  .sfsu-logo {
    display: none;
  }
  .coursework {
    padding-left: 12px;
  }
}
