.experience-section {
  background-color: rgb(165, 165, 165);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20%;
  padding-right: 20%;
}

.experience-title {
  font-size: 2rem;
  font-weight: normal;
}