.footer {
  height: auto;
  background-color: rgb(88, 88, 88);
}

.footer-h1 {
  font-weight: normal;
  color: white;
}

.footer p {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer-icon a {
  padding: 1rem;
  color: white;
}

.footer-icon a:hover {
  color: rgb(43, 122, 215);
}

.up-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: black;
  background-color: lightgrey;
  border-radius: 20px;
}

.up-arrow:hover {
  color: white;
  background-color: rgb(43, 122, 215);
}
