.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  z-index: 2;
  transition: all 1s ease;
}

.scroll {
  background-color: rgba(20, 20, 20, 0.95);
  transition: all 1s ease;
}

.navbar-logo {
  margin-top: 0.25rem;
  justify-self: left;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-row: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: rgb(43, 122, 215);
  /* background-color: rgb(149, 202, 252);
  border-radius: 4px; */
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 950px) {
  /* NAVBAR */
  .nav-header {
    background: rgb(20, 20, 20);
    opacity: .95;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .navbar-logo {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 15%);
    z-index: 2;
  }
  .menu-icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 30%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
  }
  .menu-icon:hover {
    color: rgb(43, 122, 215);
  }
  .nav-menu {
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: -345px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0%;
    margin: 0;
  }
  .nav-menu.active {
    background: rgb(20, 20, 20);
    top: 50px;
    left: 0;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    width: 100%;
    padding: 1rem;
    display: table-cell;
    vertical-align: middle;
  }
  .nav-links:hover {
    color: rgb(43, 122, 215);
    border-radius: 0;
  }
}