.work-section {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.work-card img {
  margin-bottom: -4px;
}
.work-card div {
  border-style: solid;
  border-color: grey;
}
.work-card div div{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  border-style: none;
  padding: 0 1rem;
}
.work-card div p{
  margin-top: 0;
}
.work-icon a, .link {
  margin: 5px;
  color: rgb(43, 122, 215);
}
.work-icon a:hover, .link:hover {
  color: rgba(43, 122, 215, 0.4);
}